@font-face 
{
    font-family: '00499';
    src: url('/polices/00499-webfont.eot');
    src: url('/polices/00499-webfont.eot?#iefix') format('embedded-opentype'),
         url('/polices/00499-webfont.woff2') format('woff2'),
         url('/polices/00499-webfont.woff') format('woff'),
         url('/polices/00499-webfont.ttf') format('truetype'),
         url('/polices/00499-webfont.svg#00499') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
	font-family: '00499', sans-serif;
	background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
	color: white;
}

header
{
	height: 110px;
	width: 100%;
	border-bottom: 1px solid #01DFD7;
	text-align: center;
	position: fixed;
	padding: 0;
	top: 0;
	left: 0;
	background-color: yellow;
	color: black;
}

header div.menu
{	 
	float: right;
    left: -50%;
    position: relative;
}

header div.menu ul
{	
	list-style-type: none; 
	padding: 0px; 
	margin: 0px;
	left: 50%;
	position: relative;
}

header div.menu ul li
{	
	display: block;
	float: left;
	padding: 0px 10px;
	margin: 0px;
	width: 150px;
}

header div.menu ul li.welcome
{	
	text-align: right;
	width: 300px;
}

header div.menu a
{
    text-decoration: none;
    color: black;
}

header div.menu a:hover
{
    color: red;
}

.login
{
	height: 35%;
	width: 60%;
	margin-top: 12%;
	margin-left: 20%;
	border: 1px solid yellow;
	border-radius: 8px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: yellow;
}

table.loginbox 
{
	height: 20%;
	width: 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

table.loginbox tr.name
{
	width: 150px;
}

#required
{
	color: red;
}

div.login p
{
	text-align: center;
}

input[type="text"]
{
	background-color: rgba(0, 0, 0, 0.8);
	color: yellow;
	border-radius: 4px;
	border: 1px solid yellow;
	width: 300px;
}

input[type="password"]
{
	background-color: rgba(0, 0, 0, 0.8);
	color: yellow;
	border-radius: 4px;
	border: 1px solid yellow;
	width: 300px;
}

input[type="submit"]
{
	width: 100px;
	margin-left: 100px;
	border: 1px solid yellow;
	background-color: rgba(0, 0, 0, 0.8);
	color: yellow;
	border-radius: 8px;
}

input[type="submit"]:hover
{
	width: 100px;
	margin-left: 100px;
	background-color: rgba(0, 255, 0, 0.8);
	/* box-shadow: 0 0px 0px 0 #01DFD7, 0 6px 20px 0 #01DFD7; */
}

input[type="reset"]
{
	width: 100px;
	margin-left: 10px;
	border: 1px solid yellow;
	background-color: rgba(0, 0, 0, 0.8);
	color: yellow;
	border-radius: 8px;
}

input[type="reset"]:hover
{
	width: 100px;
	margin-left: 10px;
	background-color: rgba(255, 0, 0, 0.8);
}

footer
{
	border-top: 1px solid black;
	height: 100px;
	width: 100%;
	text-align: center;
	position: fixed;
	bottom: 0;
	left: 0;
	line-height: 100px;
	background-color: yellow;
	color: black;
}